.page6{
        background-color: rgb(6, 6, 238);
        color: aliceblue;
        
}
.page6row2{
    color: blue;
}
.page6row3{
    color: blue;
}
.page6p{
    font-size:70px;
}
.page6p2{
    font-size:20px;
}
.page6icon{
    font-size:70px;
}
.page6span{
    font-size:50px;
}