.card{
    background-color: rgb(82, 82, 188);
    color: aliceblue;
}
.card2{
    background-color: rgb(18, 18, 18);
    color: aliceblue;
}
.card3{
    background-color: rgb(82, 82, 188);
    color: aliceblue;
}
.icon{
    color: blue;
    font-size:100px;
}